.App {
  text-align: center;
}
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}
.unit-type-form{
  display: grid;
  grid-template-columns: repeat(2,auto);
  grid-gap: 2%;
  text-align: center;
}
.form-row-unit{
  display: grid;
  grid-template-columns: repeat(4,25%);
  grid-gap: 2%;
}
 .form-row{
  display: grid;
  grid-template-columns: repeat(2,50%);
  text-align: left;
  padding-bottom: 2%;
 }

.business-address{
  padding: 5%;
}
business-location{
  padding: 5%;
}
.business-info{
  padding: 5%;
}
.App-container {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.register-location{
  display: flex;
  flex-direction: column;
  align-items: center;

}
.block-form{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sign-up{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
input{
  height: auto;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* flksadjflkjasldjfalk */

.nav{
  text-align: right;
}
.navigation-button{
  height: 7%;
  width: 5%;
}

table {
  font-family: arial, sans-serif;
  font-size: 1.2vmax;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #000000;
}
